Package: blackflow
Version: ###@VERSION@###
Maintainer: Aleksandrs Livincovs <aleksandrs.livincovs@gmail.com>
Architecture: all
Depends: python (>=2.7)
Build-Depends:
Build-Depends-Indep:
Replaces:
Conflicts:
Description: Blackflow reactive application framework
Section: comm
Priority: standard
